* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-color: black;
  color: white;
}

.navbar {
  width: 1200px;
  height: 100px;
  margin: 50px auto;
  border-radius: 15px;
  display: flex;
  border: 1px solid white;
}

.navbar__icon {
  font-size: 50px;
  padding: 20px 40px;
}

.navbar__title {
  font-size: 30px;
  padding: 30px 0px;
}

.intro {
  width: 1200px;
  height: 150px;
  margin: auto;
  border-radius: 15px;
}

.intro__title {
  font-size: 40px;
  text-align: center;
}

.intro__main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.intro__search__and__icon {
  display: flex;
  position: relative;
}

.intro__icon {
  font-size: 20px;
  color: red;
  position: absolute;
  left: 15px;
  top: 10px;
}

.intro__search__input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding: 0px 10px 0px 50px;
  font-size: 17px;
}

.intro__search__input:focus {
  color: red;
  background-color: black;
}

.intro__btn {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: black;
  color: red;
  border: 4px solid red;
  font-size: large;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
}

.intro__btn:hover {
  color: yellow;
  border: 4px solid yellow;
  box-shadow: 0 0 15px rgba(255, 255, 0, 0.7);
  transition: all 0.2s ease;
}

.intro__btn:active {
  color: green;
  border: 4px solid green;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.6);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 40px 0px;
}

.not__found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  height: 300px;
  margin: auto;
  background-color: #1a1d1a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username {
  font-size: 20px;
  margin: 10px 0px;
  background-color: inherit;
  color: red;
}

.followers {
  font-size: 20px;
  background-color: inherit;
  margin: 3px 0px;
}

.repository {
  font-size: 20px;
  background-color: inherit;
}

.gitHub__profile {
  font-size: 20px;
  background-color: inherit;
  text-decoration: none;
  margin: 3px 0px;
}

.gitHub__profile:hover {
  color: red;
}

.gitHub__profile:active {
  color: green;
}